@using Kynhealth.UI.Web.Models
@model Kynhealth.UI.Web.Models.OrganizationViewModel
@{
    ViewData["Title"] = "Organizations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mb-3">
    <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(../img/illustrations/corner-4.png);">
    </div>
    <!--/.bg-holder-->

    <div class="card-body position-relative">
        <div class="row">
            <div class="col-lg-8">
                <h3>Organizations</h3>
                <p class="mb-0">Create and edit Orgnaizations </p>
            </div>
        </div>
    </div>
</div>


   

    <div class="row g-0">
        <div class="row g-0 h-100 align-items-stretch">
            <div class="col-lg-12">
                <div class="card h-100">
                    <div class="card-header">
                        <h5 class="mb-0"></h5>
                    </div>
                    <div class="card-body bg-light pb-0">
                        <a class="mb-4 d-block d-flex align-items-center" href="#" data-toggle="collapse" aria-expanded="true" aria-controls="create-form"><span class="circle-dashed"><span class="fas fa-plus"></span></span><span class="ml-3">Add new</span></a>
                        <div class="collapse show" id="create-form">
                       
                            
                        <form class="row" action="/Organizations/Create" method="post">
                            @Html.AntiForgeryToken()
                                <div class="col-3 mb-3 text-lg-right">
                                <label class="form-label" for="CompanyName">Company name</label>
                                </div>
                                <div class="col-9 col-sm-7 mb-3">
                                                               
                                <input class="form-control form-control-sm" id="CompanyName" type="text" />
                                @Html.ValidationMessageFor(model => model.CompanyName)
                                </div>
                                <div class="col-3 mb-3 text-lg-right">
                                <label class="form-label" for="AddressLine1">Address</label>
                                </div>
                                <div class="col-9 col-sm-7 mb-3">
                                <input class="form-control form-control-sm" id="AddressLine1" type="text" />
                                @Html.ValidationMessageFor(model => model.AddressLine1)
                                </div>
                                <div class="col-3 mb-3 text-lg-right">
                                <label class="form-label" for="AddressLine2">AddressLine2 </label>
                                </div>
                                <div class="col-9 col-sm-7 mb-3">
                                <input class="form-control form-control-sm" id="AddressLine2" type="text" />
                                @Html.ValidationMessageFor(model => model.AddressLine2)
                                </div>

                                <div class="col-3 mb-3 text-lg-right">
                                <label class="form-label" for="Telephone">Telephone </label>
                                </div>
                                <div class="col-9 col-sm-7 mb-3">
                                <input class="form-control form-control-sm" id="Telephone" type="text" />
                                @Html.ValidationMessageFor(model => model.Telephone)
                                </div>
                                <div class="form-group">
                                    <div class="col-3 mb-3 text-lg-right">
                                    <label class="form-label" for="CountryId">Country </label>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="input-group input-group-required">
                                            @Html.DropDownListFor(model => model.CountryId, Model.Countries)
                                            
                                        </div>
                                    @Html.ValidationMessageFor(model => model.CountryId)
                                    </div>
                                </div>
                                
                                <div class="col-9 col-sm-7 offset-3">
                                    <button class="btn btn-primary" type="submit">Save</button>
                                </div>
                            </form>
                        
                            <div class="border-dashed-bottom my-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


